h1,
h2 {
    color: ivory;
    background-color: #921A40;
}

.Description,
.Ingredients,
.Instructions {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

body {
    background-color: #F4D9D0;
}

ul {
    font-size: 22px;
    line-height: 1;
}

.recipes {
  width: 800px;
  background-color: #D9ABAB;
  margin: 200px auto;
  padding: 8px;
}

.recipe {
    background-color: ivory;
    width: 700px;
    height: 38px;
    margin: 12px auto;
    border: 10px solid;
    padding: 10px;
    border-color: #921A40;
    font-size: 30px;
}